{% extends "tasks/base.html" %}

{% block content %}
<h1>Login</h1>

{% if form.errors %}
    <p>Username ou Password incorreto, favor tentar novamente</p>
{% else %}
    <p>Por favor utilize o formulario para fazer o login</p>
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="login"></p>
    </form>
</div>
{% endblock %}
