{% extends "tasks/base.html" %}

{% block content %}
    
        <h1>Lista de Atividades</h1>

        <form method="get" action="{% url "tasks_list" %}">
            <label for="status">Status: </label>
            <select name="status" id="status">
                <option value="">Todos</option>
                <option value="P">Pendente</option>
                <option value="A">Em andamento</option>
                <option value="C">Concluido</option> 

            </select>
            <button type="submit">Filtrar</button>   
        </form>
                       

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titulo</th>                    
                    <th scope="col">Descriçao</th>
                    <th scope="col">Data de Criaçao</th>
                    <th scope="col">Data de Finalizaçao</th>
                    <th scope="col">Status</th>
                    <th scope="col" class = "text-center" style = "width: 180px;">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for  tasks in  tasks%}
                    <tr>                    
                        <td>{{tasks.pk}}</td>
                        <td>{{tasks.title}}</td>                                       
                        <td>{{tasks.description}}</td>
                        <td>{{tasks.created_at}}</td>
                        <td>{{tasks.due_date}}</td>
                         <td>
                            {% if tasks.status == 'P' %}
                                <span class = "badge bg-warning" title = "Pendente">P</span>

                            {% elif tasks.status == "A" %}                            
                                <span class = "badge bg-info" title = "Em andamento">A</span>
                            
                            {% elif tasks.status == "C" %}
                                <span class = "badge bg-success" title = "Concluido">C</span>

                            {% endif %}
                        </td>       
                        <td class = "text-center">

                            <a href="{% url 'tasks_edit' pk=tasks.pk %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'tasks_delete' pk=tasks.pk %}" class="btn btn-danger btn-sm">Excluir</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
{% endblock %}